<!DOCTYPE html>
<html>
    <head>
        <title>About Us</title>
        <link rel="stylesheet" href="About_us.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
        <style type="text/css">
        *{
            margin: 0;
            padding: 0;
            border: 0;
        }
        </style>
    </head>
    <body>
        <body-about>
        <div class="about-section">
            <div class="inner-container">
                <h3>
                    About Us...
                    <div class="border"></div>
                </h3>

                <p class="text">
                    This is a team composed by students of the University of
                    Puerto Rico Recinto de Mayaguez. This platform was idializaded
                    and coded for a semester-long project for our Intro to Software Engineering
                </p>

                <button>Read More</button>
            </div>
        </div>
        </body-about>
        <section class="parallax">
            <div class="parallax-inner">
                <h1>Meet the Team <br/>And Its Supporters:</h1>
            </div>
        </section>
        <br/>
        <section-C>
            <div class="team" style="--img: url(./../../decoratives/textures/Blas Portrait.jpg)">
                <img src="./../../decoratives/textures/Blas Portrait.jpg", alt="">
                <div class="info">
                    <div class="name">Blas A Ayala Garcia</div>
                    <div class="title">Developer of Back-End</div>
                    <div class="social">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                    </div>
                </div>
            </div>
 
            <div class="team" style="--img: url(https://image.shutterstock.com/image-illustration/very-big-size-man-without-260nw-126920099.jpg)">
                <img src="https://image.shutterstock.com/image-illustration/very-big-size-man-without-260nw-126920099.jpg", alt="">
                <div class="info">
                    <div class="name">Edgar J Sanabria Soto</div>
                    <div class="title">Developer of Front-End</div>
                    <div class="social">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                    </div>
                </div>
            </div>
 
            <div class="team" style="--img: url(https://image.shutterstock.com/image-illustration/very-big-size-man-without-260nw-126920099.jpg)">
                <img src="https://image.shutterstock.com/image-illustration/very-big-size-man-without-260nw-126920099.jpg", alt="">
                <div class="info">
                    <div class="name">Gabriel R Garcia Aviles</div>
                    <div class="title">Developer of Back-End</div>
                    <div class="social">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                    </div>
                </div>
            </div>
 
            <div class="team" style="--img: url(https://image.shutterstock.com/image-illustration/very-big-size-man-without-260nw-126920099.jpg)">
                <img src="https://image.shutterstock.com/image-illustration/very-big-size-man-without-260nw-126920099.jpg", alt="">
                <div class="info">
                    <div class="name">Rafael O Lopez Echevarria</div>
                    <div class="title">Developer of Back-End</div>
                    <div class="social">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                    </div>
                </div>
            </div>
 
            <div class="team" style="--img: url(./../../decoratives/textures/Raul Portrait.jpg)">
                <img src="./../../decoratives/textures/Raul Portrait.jpg", alt="">
                <div class="info">
                    <div class="name">Raul A Rivera Rodriguez</div>
                    <div class="title">Developer of Front-End</div>
                    <div class="social">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                    </div>
                </div>
            </div>
 
            <div class="team" style="--img: url(./../../decoratives/textures/Wester Portrait.jpg)">
                <img src="./../../decoratives/textures/Wester Portrait.jpg", alt="">
                <div class="info">
                    <div class="name">Wester J Aldarondo Torres</div>
                    <div class="title">Developer of front-End</div>
                    <div class="social">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                    </div>
                </div>
            </div>
 
            <div class="team" style="--img: url(https://image.shutterstock.com/image-illustration/very-big-size-man-without-260nw-126920099.jpg)">
                <img src="https://image.shutterstock.com/image-illustration/very-big-size-man-without-260nw-126920099.jpg", alt="">
                <div class="info">
                    <div class="name">Alexander Rivera De Jesús</div>
                    <div class="title">TA of the course</div>
                    <div class="social">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                    </div>
                </div>
            </div>
 
            <div class="team" style="--img: url(https://image.shutterstock.com/image-illustration/very-big-size-man-without-260nw-126920099.jpg)">
                <img src="https://image.shutterstock.com/image-illustration/very-big-size-man-without-260nw-126920099.jpg", alt="">
                <div class="info">
                    <div class="name">Marko Schütz-Schmuck</div>
                    <div class="title">Professor of the course</div>
                    <div class="social">
                        <i class="fab fa-facebook-f"></i>
                        <i class="fab fa-instagram"></i>
                        <i class="fab fa-twitter"></i>
                    </div>
                </div>
            </div>
        </section-C>
    </body>
</html>
