.site-footer {
  background-color: #212121;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #c5c1c1;
}
.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
  margin-top: 15px;
  margin-bottom: 15px;
}
.site-footer hr.small {
  margin: 20px 0;
}
.site-footer h6 {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}
.site-footer button {
  color: #c5c1c1;
  font-size: 14px;
}
.site-footer button:hover {
  color: #737373;
  text-decoration: none;
}
.footer-links {
  padding-left: 0;
  list-style: none;
}
.footer-links li {
  display: block;
}
.footer-links button {
  color: #c5c1c1;
  background: none;
  padding: 0;
  cursor: pointer;
  text-decoration: underline;
}
.footer-links button:active,
.footer-links button:focus,
.footer-links button:hover {
  color: #737373;
  text-decoration: none;
}
.footer-links.inline li {
  display: inline-block;
}
.site-footer .social-icons {
  margin-top: 15px;
  cursor: pointer;
}
.site-footer .social-icons button {
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 6px;
  margin-right: 6px;
  border-radius: 100%;
  cursor: pointer;
  background-color: #33353d;
}
.copyright-text {
  margin: 0;
  text-align: center;
}
@media (max-width: 991px) {
  .site-footer .col {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text {
    text-align: center;
  }
}
.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.social-icons li {
  display: inline-block;
  margin-bottom: 4px;
}
.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px;
}
.social-icons button {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.social-icons button:active,
.social-icons button:focus,
.social-icons button:hover {
  color: #fff;
  background-color: #29aafe;
}
.social-icons.size-sm button {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px;
}
.social-icons button.facebook:hover {
  background-color: #3b5998;
}
.social-icons button.twitter:hover {
  background-color: #00aced;
}
.social-icons button.linkedin:hover {
  background-color: #007bb6;
}
.social-icons button.instagram:hover {
  background-color: #ea4c89;
}
@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600;
  }
}
